@import '@/styles/variables';
@import '@/styles/mixins';

.list {
  padding: 10px 20px 20px;
  background-color: $accent;
  overflow: auto;

  @include flex(column, flex-start, center);

  &::-webkit-scrollbar-track {
    background: $accent;
  }

  &__list {
    width: 100%;

    @include flex(column, flex-start, center);
  }

  &__item {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__text {
    margin: auto;
  }

  &__chat-menu {
    position: absolute;
    top: 10px;
    left: 10px;
  }
}
