<section
  class="list{{#if className}} {{ className }}{{/if}}"
>
  {{#if chat}}
    <ul class="list__list">
      {{> Chat
        className="list__item chat_active"
      }}

      {{> Chat
        className="list__item"
      }}

      {{> Chat
        className="list__item"
      }}
    </ul>
  {{else}}
    {{> Text
      className="list__text"
      text="Список чатов пуст"
    }}
  {{/if}}
</section>
