<main id="chats" class="chats">
  {{> Search
    className="chats__search"
  }}

  {{> List
    className="chats__list"
    chat="chat"
  }}

  {{> Content
    className="chats__content"
    content="content"
  }}

  <section class="chats__message">

  </section>
</main>
