@import '../../styles/variables';
@import '../../styles/mixins';

.chats {
  flex: 1 0 auto;
  display: grid;
  grid-template-areas:
    'search content'
    'list content'
    'list message';
  grid-template-columns: $chats-width auto;
  grid-template-rows: minmax($chats-search-height, auto) auto minmax($chats-new-height, auto);
  justify-self: stretch;
  align-self: stretch;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &__search {
    grid-area: search;
  }

  &__list {
    grid-area: list;
    padding: 10px 20px 20px 20px;
    background-color: $accent;
    overflow: auto;

    &::-webkit-scrollbar-track {
      background: $accent;
    }
  }

  &__chat {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    width: 100%;
    height: $chat-height;
    padding: 15px;
    background-color: $light;
    position: relative;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      scale: 1.02;
      box-shadow: 4px 4px 4px 0 $gray;
      background-color: $accent;
      border: 3px solid $border;
    }

    &:hover > &-settings-button {
      visibility: visible;
      opacity: 1;
    }

    &_active {
      background-color: $accent;
      border: 3px solid $border;

      &:hover {
        scale: 1;
        box-shadow: none;
        cursor: auto;
      }
    }

    &_active > &-settings-button {
      visibility: visible;
      opacity: 1;
    }

    @include flex(row, space-between, center);

    &-avatar {
      margin-right: 15px;
    }

    &-content {
      width: 100%;
      height: 100%;

      @include flex(column, space-between, start);
    }

    &-info {
      width: 100%;

      @include flex(row, space-between, center);
    }

    &-name {
      max-width: 270px;
      color: $main;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-date {
      width: 100px;
      color: $main;
      font-size: $font-text;
      text-align: right;
    }

    &-message {
      width: 100%;

      @include flex(row, space-between, end);
    }

    &-text {
      max-width: 307px;
      color: $dark;
      line-height: 1.15;
      height: calc(1.15 * $font-text * 2);
      max-height: calc(1.15 * $font-text * 2);
      -webkit-box-orient: vertical;
      display: block;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
    }

    &-count {
      min-width: calc($font-text + 14px);
      font-size: $font-text;
      line-height: 1;
      text-align: center;
      color: $light;
      border: none;
      border-radius: 1000px;
      background-color: $secondary;
      padding: 7px;
    }

    &-settings-button {
      min-width: calc($font-text * 2);
      max-width: calc($font-text * 2);
      height: calc($font-text * 2);
      border-radius: 50%;
      overflow: hidden;
      padding: 7px;
      position: absolute;
      top: 5px;
      right: 5px;
      background-color: $main;
      visibility: hidden;
      opacity: 0;

      &_visible {
        visibility: visible;
        opacity: 1;
      }

      @include flex(row, center, center);
    }

    &-settings-icon {
      width: 100%;
      height: 100%;
      fill: $light;
    }
  }

  &__content {
    grid-area: content;
    padding: 10px 20px;
    overflow: auto;

    @include flex(column, flex-start, center);

    &-date {
      width: 100%;
      margin-bottom: 10px;
      padding: 10px;
      border-bottom: 1px solid $border;
      text-align: center;
      font-weight: 700;
      color: $dark;
    }

    &-list {
      width: 100%;

      @include flex(column, flex-start, center);
    }

    &-message {
      max-width: $chat-message-width;
      margin-bottom: 10px;
      padding: 10px;
      color: $main;

      @include flex(column, flex-start, start);

      &:last-child {
        margin-bottom: 0;
      }

      &_their {
        align-self: flex-start;
        border-bottom-left-radius: 0;
      }

      &_our {
        align-self: flex-end;
        border-bottom-right-radius: 0;
        color: $border;
        background-color: $accent;
      }

      &-name {
        align-self: center;
        margin-bottom: 10px;
        font-weight: 700;
      }

      &-text {
        margin-bottom: 10px;
      }

      &-info {
        align-self: end;

        @include flex(row, center, center);

        color: $gray;
        fill: $gray;

        &_active {
          color: $dark;
          fill: $dark;
        }
      }

      &-time {
        color: inherit;
      }

      &-check {
        width: calc($font-text * 1.2);
        height: calc($font-text * 1.2);
        color: inherit;
      }

      &-icon {
        width: 100%;
        height: 100%;
        fill: inherit;
      }
    }
  }

  &__message {
    grid-area: message;
    padding: 20px 20px 8px 20px;

    @include flex(row, center, center);

    &-form {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-areas:
        'message-attach message-input message-send'
        'message-empty1 message-error message-empty2';
      grid-template-columns: calc($font-text * 2) auto calc($font-text * 2);
      grid-template-rows: calc($font-text * 2 + 4px) auto;
      gap: 10px;
    }

    &-button {
      min-width: calc($font-text * 2);
      max-width: calc($font-text * 2);
      height: calc($font-text * 2);
      border-radius: 50%;
      overflow: hidden;
      align-self: center;
      justify-self: center;
      padding: 7px;

      @include flex(row, center, center);

      &:first-child {
        grid-area: message-attach;
      }

      &:last-child {
        grid-area: message-send;
      }
    }

    &-icon {
      width: 100%;
      height: 100%;
      fill: $light;
    }

    &-input {
      grid-area: message-input;
      width: 100%;
      align-self: center;
      justify-self: center;

      &_error {
        border: 3px solid $error;
      }
    }

    &-error {
      grid-area: message-error;
    }
  }
}
