@import '../../styles/variables';
@import '../../styles/mixins';

.chats {
  flex: 1 0 auto;
  display: grid;
  grid-template-areas:
    'search content'
    'list content'
    'list new-message';
  grid-template-columns: $chats-width auto;
  grid-template-rows: minmax($chats-search-height, auto) auto minmax($chats-new-height, auto);
  justify-self: stretch;
  align-self: stretch;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &__search {
    grid-area: search;
    border-bottom: 1px solid $gray;
  }

  &__list {
    grid-area: list;
  }

  &__content {
    grid-area: content;
  }

  &__new-message {
    grid-area: new-message;
    border-top: 1px solid $gray;
  }
}
