<main id="chats" class="chats">
  {{> Search
    className="chats__search"
  }}

  <section class="chats__list">

  </section>

  <section class="chats__content">
    
  </section>

  <section class="chats__message">

  </section>
</main>
