@import '../../styles/variables';

.button {
  font-size: $font-button;
  font-weight: 700;
  padding: 0 10px;
  color: $light;
  border: none;
  border-radius: 15px;
  background-color: $secondary;
  transition: all 0.3s;

  &:hover {
    scale: 1.05;
    box-shadow: 4px 4px 4px 0 $gray;
  }
}
