@import '@/styles/variables';
@import '@/styles/mixins';

.search-form {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: calc($font-text * 2 + 2px);
  gap: 0;
  place-items: center start;
  margin-bottom: 10px;

  &__form-controls {
    width: 100%;

    @include flex(column, space-between, flex-start);
  }

  &__form-control {
    position: relative;
    height: 100%;
    width: 100%;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__icon {
    position: absolute;
    top: 11px;
    left: 9px;
    width: 16px;
    height: 16px;
    fill: $dark-gray;
  }

  &__input {
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    padding-left: 30px;
    place-self: center center;
  }
}
