<form
  class="search-form"
>
  <div
    class="search-form__form-controls"
  >
    <div
      class="search-form__form-control"
    >
      <svg class="search-form__icon">
        <use xlink:href="#icon-search"></use>
      </svg>

      {{{ inputChild }}}
    </div>
  </div>
</form>
