<main id={{ id }} class="error-page">
  {{> Header header
    className="error-page__header"
    text=header
  }}

  {{> Text text
    className="error-page__text"
    text=text
  }}

  {{> Link link
    className="error-page__link"
    href=link.href
    text=link.text
  }}
</main>
