@import '../../../../../../styles/variables';
@import '../../../../../../styles/mixins';

.message {
  width: 100%;
  padding: 10px;
  color: $main;
  border: 1px solid $border;
  border-radius: 10px;

  @include flex(column, flex-start, start);

  &__name {
    align-self: center;
    margin-bottom: 10px;
    font-weight: 700;
  }

  &__text {
    margin-bottom: 10px;
  }

  &__info {
    align-self: end;

    @include flex(row, center, center);

    color: $gray;
    fill: $gray;

    &_active {
      color: $dark;
      fill: $dark;
    }
  }

  &__time {
    color: inherit;
  }

  &__check {
    width: calc($font-text * 1.2);
    height: calc($font-text * 1.2);
    color: inherit;
  }

  &__icon {
    width: 100%;
    height: 100%;
    fill: inherit;
  }

  &_their {
    align-self: flex-start;
    border-bottom-left-radius: 0;
  }

  &_our {
    align-self: flex-end;
    border-bottom-right-radius: 0;
    color: $border;
    background-color: $accent;
  }
}
