<main id="page500" class="page404">
  {{> Header
    className="page404__header"
    text="500"
  }}

  {{> Text
    className="page404__text"
    text="Внутренняя ошибка сервера"
  }}

  {{> Link
    className="page404__link"
    href="/chats"
    text="Назад к чатам"
  }}
</main>
