@import '@/styles/variables';
@import '@/styles/mixins';

.search {
  grid-area: search;
  padding: 20px 20px 10px;
  background-color: $accent;

  @include flex(column, space-between, end);

  &__link {
    margin-bottom: 10px;
  }

  &__form {
    width: 100%;

    &-controls {
      width: 100%;

      @include flex(column, space-between, flex-start);
    }

    &-control {
      position: relative;
      height: calc($input-height + 10px + $font-error);
      width: 100%;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__input-field {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: $input-height auto;
    gap: 10px;
    place-items: center start;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__icon {
    position: absolute;
    top: 11px;
    left: 9px;
    width: 16px;
    height: 16px;
    fill: $dark-gray;
  }

  &__input {
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    padding-left: 30px;
    place-self: center center;
  }

  &__error {
    grid-row: 2;
    grid-column: 1;
    place-self: center self-start;
  }

  &__button {
    line-height: 2;
  }
}
