@import '../../styles/variables';
@import '../../styles/mixins';

.menu {
  min-width: $icon-size;
  min-height: $icon-size;
  border: none;
  border-radius: 15px;
  background-color: $secondary;
  overflow: hidden;
  z-index: 5000;
  display: none;

  &__item {
    width: 100%;
    padding: 0 10px;
    cursor: pointer;
    fill: $light;
    color: $light;
    transition: all 0.3s;

    &:hover {
      scale: 1.05;
      fill: $main;
      color: $main;
    }

    &:first-child {
      padding-top: 10px;
    }

    &:last-child {
      padding-bottom: 10px;
    }
  }

  &__button {
    width: 100%;
    height: $icon-size;
    padding-left: 30px;
    overflow: hidden;
    position: relative;
    color: inherit;
    font-size: $font-text;

    @include flex(row, flex-start, center);

    &:hover {
      scale: 1;
      box-shadow: none;
    }
  }

  &__icon {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 7px;
    left: 7px;
    fill: inherit;
  }
}
