<article
  data-menu={{ dataMenu }}
  class="menu{{#if className}} {{ className }}{{/if}}{{#if visible}} menu_visible{{/if}}"
>
  {{#each items}}
    <div class="menu__item">
      {{{ this }}}
    </div>
  {{/each}}
</article>
