// colors
$main: #50BD1D;
$secondary: #B1DD22;
$accent: #F4F6F3;
$error: #FF0000;
$light: #FFFFFF;
$dark: #000000;
$border: #0B8C2F;
$gray: rgba($dark, 0.25);
$dark-gray: rgba($dark, 0.5);
$bold-gray: rgba($dark, 0.75);

// fonts
$font: Roboto, sans-serif;
$font-error: 12px;
$font-text: 16px;
$font-button: 20px;
$font-header: 32px;

// dimensions
$login-height: 500px;
$login-width: 400px;
$register-height: 800px;
$form-control-height: 80px;
$search-form-height: 58px;
$button-width: 250px;
$chats-width: 540px;
$chats-search-height: 114px;
$chats-input-height: 34px;
$chats-new-height: 86px;
$chat-height: 100px;
$avatar-normal-size: 70px;
$avatar-big-size: 150px;
$avatar-small-size: 30px;
$chat-message-width: 500px;
$profile-form-width: 550px;
$profile-label-width: 220px;
