@import '@/styles/variables';
@import '@/styles/mixins';

.profile {
  width: 100%;
  height: 100%;

  &__wrapper {
    @include flex(column, center, center);
  }

  &__avatar {
    margin: 20px 0;
  }

  &__header {
    margin-bottom: 40px;
  }

  &__form {
    width: $profile-form-width;
    margin-bottom: 20px;

    @include flex(column, center, center);

    &-controls {
      width: 100%;
      margin-bottom: 20px;
    }

    &-control {
      min-height: calc($input-height + 10px + $font-error);
      width: 100%;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__input-field {
    display: grid;
    grid-template-columns: $profile-label-width auto;
    grid-template-rows: $input-height auto;
    gap: 10px;
    place-items: center start;
  }

  &__label {
    grid-row: 1;
    grid-column: 1;
  }

  &__input {
    grid-row: 1;
    grid-column: 2;
    width: 100%;
  }

  &__error {
    grid-row: 2;
    grid-column: 2;
  }

  &__buttons {
    @include flex(column, center, center);
  }

  &__button {
    width: $button-width;
    line-height: calc($font-button * 2);
    padding: 0;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    color: $light;
    display: block;
    width: 100%;
    height: 100%;

    &:hover {
      scale: 1.0;
      text-decoration: none;
    }
  }

  &__footer {
    color: $error;
    font-size: $font-button;
    font-weight: 700;
    margin-bottom: 20px;
  }

  &__nav {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px auto auto 20px;
  }
}
