@import '@/styles/variables';
@import '@/styles/mixins';

.avatar {
  min-width: $avatar-normal-size;
  max-width: $avatar-normal-size;
  height: $avatar-normal-size;
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.3s;
  color: $light;
  position: relative;

  &__empty-icon {
    fill: $light;
    width: $avatar-normal-size;
    height: $avatar-normal-size;
  }

  &_big &__empty-icon {
    fill: $light;
    width: $avatar-big-size;
    height: $avatar-big-size;
  }

  &__empty-mask {
    background-color: $secondary;
  }

  &__mask {
    position: absolute;
    inset: 0;
    visibility: hidden;
    opacity: 0;
    background: $dark-gray;
    padding: 20px;

    @include flex(column, space-between, center);
  }

  &_no-edit &__mask {
    visibility: hidden;
    opacity: 0;
  }

  &__text {
    text-align: center;
    color: $light;
  }

  &__icon {
    fill: $light;
    width: $avatar-normal-size;
    height: $avatar-normal-size;
  }

  &_big {
    min-width: $avatar-big-size;
    max-width: $avatar-big-size;
    height: $avatar-big-size;
    position: relative;
  }

  &__image {
    width: 100%;
    height: 100%;
    fill: $light;
  }

  &:hover {
    scale: 1.05;
    cursor: pointer;

    & > .avatar__mask {
      visibility: visible;
      opacity: 1;
      transition: all 0.3s;
    }
  }

  &_no-edit:hover {
    scale: 1;
    cursor: auto;

    & > .avatar__mask {
      visibility: hidden;
      opacity: 0;
    }
  }
}
