<section
  class="content{{#if className}} {{ className }}{{/if}}"
>
  {{#if content}}
    <p class="content__date">
      07 Фев 2024
    </p>
    <ul class="content__list">
      {{> Message
        className="content__message message_their"
        name="Приятель"
        text="Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой. Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро."
        time="15:07"
        check="check"
      }}

      {{> Message
        className="content__message message_their"
        name="Приятель"
        imageSrc="/images/flower.png"
        time="15:07"
        check="check"
      }}

      {{> Message
        className="content__message message_our"
        name="Вы"
        text="Круто."
        time="15:07"
        check="check"
      }}
    </ul>
  {{else}}
    {{> Text
      className="content__text"
      text="Выберите чат, чтобы отправить сообщение"
    }}
  {{/if}}
</section>
