@import './styles/fonts';
@import './styles/reset';
@import './styles/variables';
@import './styles/mixins';

*::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

*::-webkit-scrollbar-track {
  background: $light;
}

*::-webkit-scrollbar-thumb {
  background-color: $secondary;
  border-radius: 15px;
}

html,
body {
  font-family: $font;
  font-size: $font-text;
  color: $main;
  height: 100%;
}

body.modal-open {
  overflow: hidden;
}

#root {
  width: 100%;
  min-height: 100%;
  padding: 10px;

  @include flex(column, center, center);
}

.spritesheet {
  display: none;
  width: 0;
  height: 0;
}
