<main id="page404" class="page404">
  {{> Header
    className="page404__header"
    text="404"
  }}

  {{> Text
    className="page404__text"
    text="Страница не найдена"
  }}

  {{> Link
    className="page404__link"
    href="/chats"
    text="Назад к чатам"
  }}
</main>
