@import '../../styles/variables';
@import '../../styles/mixins';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  visibility: hidden;
  opacity: 0;
  background-color: $dark-gray;

  @include flex(column, center, center);

  &_visible {
    visibility: visible;
    opacity: 1;
  }

  &__content {
    flex: 0 0 auto;
    padding: 30px;
    border: 3px solid $border;
    border-radius: 25px;
    background-color: $accent;
  }

  &__header {
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-size: $font-button;
  }

  &__form {
    width: 100%;

    @include flex(column, center, center);
  }

  &__controls {
    margin-right: 50px;
  }

  &__control {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__buttons {
    @include flex(row, space-between, center);
  }

  &__button {
    line-height: 2;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}
